<div class="wrapper">
  <h1>Ask Stupid Coach</h1>
  <div class="results">
    <div class="question">
      <p>Go on... I dare ya.</p>
      <form action="/answer" method="get">
        <input type="text" name="question" placeholder="Ask me anything">
        <input type="submit" value="Ask">
      </form>
    </div>
  </div>
